[submodule "InfiniTensorWorktree/InfiniCore"]
	path = InfiniTensorWorktree/InfiniCore
	url = https://github.com/Ceng23333/InfiniCore.git
	branch = prefill_profile
[submodule "InfiniTensorWorktree/InfiniLM"]
	path = InfiniTensorWorktree/InfiniLM
	url = https://github.com/Ceng23333/InfiniLM.git
	branch = prefill_profile_dev2
[submodule "InfiniTensorWorktree/InfiniMetadata"]
	path = InfiniTensorWorktree/InfiniMetadata
	url = https://github.com/InfiniTensor/InfiniMetadata.git
	branch = master
