## InfiniOrchestrator case: infinilm-metax-deployment-opt-20260622
##
## Copy to `.env` and edit:
##   cp .env.example .env
##
## Then run:
##   docker-compose up -d
##

# Pre-built image from ./build-image.sh (commit-based build)
# Format: infinilm-svc:metax-hpcc-ai3107:<IL_SHA>-<IC_SHA>-<BUILD_TS>
# After build, copy from .image_tag
IMAGE_TAG=infinilm-svc:metax-hpcc-ai3107-c73618c-56ef9cad-20260624

# Ports (published from master)
REGISTRY_PORT=18000
ROUTER_PORT=8000
EMBEDDING_PORT=20002

CACHE_TYPE_ROUTING_THRESHOLD=51200

# MASTER_ADVERTISE_HOST=192.168.163.151

SLAVE_REGISTRY_URL=http://master:18000
SLAVE_ROUTER_URL=http://master:8000

# SLAVE_ADVERTISE_HOST=192.168.163.152
# SLAVE_XIYAN_API_PORT=8300
# SLAVE_XIYAN_BABYSITTER_PORT=8301

MODEL1_DIR=/path/to/9g_8b_thinking_llama
QWEN3_32B_DIR=/path/to/Qwen3-32B
XIYAN_QWENCODER_DIR=/path/to/XiYanSQL-QwenCoder-32B-2504
EMBEDDING_MODEL_DIR=/path/to/embedding-models
